name: Cache Benchmark Test

on:
  workflow_dispatch:
    inputs:
      size-gb:
        description: 'Size of data to generate in GB'
        required: false
        default: '2'
        type: choice
        options:
          - '1'
          - '2'
          - '4'
          - '8'

jobs:
  benchmark:
    runs-on: ubuntu-latest
    steps:
      - name: Run cache benchmark
        uses: GhadimiR/mountable-disks@main
        with:
          size-gb: ${{ inputs.size-gb }}
